@font-face {
  font-family: chessFont;
  src: url(./CHEQ_TT.TTF)
}

.chess {
  width: 100%;
  height: 100%;
}

.subtitle {
  font-weight: lighter;
}

td {
  cursor: pointer;
  font-size: 2em;
  min-width: 30px;
  min-height: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.letter {
  font-size: 1.5em;
  vertical-align: top;
}

.pawn {
  font-family: chessFont;
}

.even {
  transition: background-color 0.1s ease-in;
  background-color: rgb(157, 111, 243);
}

.even:hover{
  background-color:rgb(84, 84, 218);
}

.even.selected{
  background-color:rgb(76, 76, 184);
}

.odd {
  transition: background-color 0.1s ease-in;
  background-color: rgb(219, 211, 255);
}

.odd:hover {
  background-color: rgb(194, 186, 231);
}

.odd.selected {
  background-color: rgb(166, 159, 201);
}

td.highlighted {
  background-color: rgba(255, 230, 0, 0.63);
}

td.highlighted:hover {
  background-color: rgba(227, 243, 7, 0.767);
}

